{% load static %}
<!DOCTYPE html>
<html lang="ru" class="h-100">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="theme-color" content="#7952b3">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <meta charset="UTF-8">
    <title></title>
</head>
<body class="d-flex flex-column h-100">
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/img.png' %}" alt="" width="200" height=""><sup class="text-danger">Beta!</sup>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    {#                    <li class="nav-item">#}
                    {#                        <a class="nav-link active" aria-current="page" href="#">Главная</a>#}
                    {#                    </li>#}
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="flex-shrink-0">
    <div class="container">
        <h3>Добро пожаловать в проект Хронос!</h3>
        <p class="lead">Хронос - предоставляет <b>REST-API</b> интерфейс для внешних сервисов в целью упрощения работы с
            расписанием <a href="https://miet.ru/schedule" target="_blank">МИЭТа</a>.
        </p>
        <div class="container">
            <h4>REST-API сервис расписания</h4>
            <div class="container">
                <ol>
                    <li>
                        Для начала работы Вам потребуется зарегистрировать собственный сервис по <a
                            href="{% url 'register_service' %}">ссылке</a>.
                        После регистрации Вам придет сообщение на электронную почту с реквизитами для подключения к
                        сервису.
                    </li>
                    <li>
                        Для проверки реквизитов и получения информации о составе медотов <b>API</b> можно перейти по <a
                            href="{% url "schema-swagger-ui" %}" target="_blank">ссылке</a>.
                        <ul>
                            <li>Чтобы выполнять запросы к сервису потребуется получить <b>access_token</b>. Для этого, через
                                метод <b>/token</b> передайте (кнопка <b>"Try it out"</b>), полученные username и password и
                                нажимте <b>Execute</b>. В ответ Вам должен вернуться <b>access_token</b>.
                            </li>
                            <li>Скопируйте значение <b>access_token</b> и нажмите кнопку <b>Authorize</b> и в поле <b>value</b> введите <b>Bearer</b>
                                "скопированный access_token" (без кавычек), далее нажмите кнопку <b>Authorize</b>. Теперь все запросы на этой
                                странице будут выполняться с указанным <b>access_token</b>.
                            </li>
                            <li>Выполните метод <b>/schedule</b>, чтобы убедиться, что сервис работает. В ответ в случае
                                успеха должно вернуться расписание.
                            </li>
                            <li><span class="text-danger">Важно!</span> <b>Access_token</b> имеет срок действия (60 минут). Поэтому, каждые 60 мин его требуется обновлять с помощью <b>refresh_token</b>, который выдается при получении <b>acсess_token</b>. Чтобы обновить <b>access_token</b> требуется вызвать метод <b>/token/refresh/</b> и передать ему в качестве тела запроса <b>refresh_token</b>. Подробнее с методом аутентификации <b>JWT</b> Вы можеет ознакомиться по <a href="https://habr.com/ru/post/340146/">ссылке</a>.
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
            <h4>Расписание в формате ICS (для импорта в календари) - <span class="text-danger">Скоро!</span></h4>
            <h4>Расписание в формате CSV (для исследований) - <span class="text-danger">Скоро!</span></h4>
        </div>
    </div>
</main>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Наш <a href="https://github.com/vovoks/project_hronos">GitHub</a>.</span>
    </div>
</footer>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
